
/* ------------------------------------------------------------------ */
*{
   -ms-overflow-style: none;
}
::-webkit-scrollbar {
   display: none;
}


html, body {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   -webkit-font-smoothing: antialiased;
}

body {
   background: rgb(0, 0, 0);
   font-family: 'opensans-regular', sans-serif;
   font-weight: normal;
   font-size: 15px;
   line-height: 30px;
	color: #838C95;

   -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

.backgound-home-movie{
   background-image: url(https://i.ytimg.com/vi/vz-gdEL_ae8/maxresdefault.jpg);
   background-size: cover; 
   background-repeat: no-repeat; 
   background-position: center center;
   object-fit: cover;
}
.modal-home-movie{
   justify-content: center;
   align-items: center;
   z-index: 12;
   height: 50%;
   width: 60%;
   display: initial;
}
.Header {
   position: fixed;
   top: 0;
   width: 100%;
   max-height: 10vh;
   min-height: 79px;
   display: grid;
   grid-template-areas: "logo nav";
   z-index: 15;
   background-color: #282c34;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 }
 .Header img{
    padding-left: 35px;
 }
 .Header img:hover{
   transform: scale(1.1);
 }
 .Logo {
   grid-area: logo;
   height: 70px;
 }
 .Header img:hover{
    cursor: pointer;
 }
 .Header-banner{
   display: flex;
   height: 100vh;
   padding-top: 10vh;
   background-image: url(https://i.ytimg.com/vi/vz-gdEL_ae8/maxresdefault.jpg);
   background-size: cover; 
   background-repeat: no-repeat; 
   background-position: center center;
   object-fit: cover;
}
.banner-text{
   display: block;
   position: absolute;
   top:40%;
   left: 0;
   right: 0;
}
.banner-text ul{
   padding: 0;
}
.banner-text .responsive-headline, h3{
   text-align: center;
   color: white;
}
.Header-banner .banner-text h1{
   margin-bottom: 50px;
}
 
 .Nav {
   display: grid;
   grid-area: nav;
   grid-template-columns: repeat(8, auto);
   align-items: center;
   justify-items: center;
 }
 .Nav a {
   font-size: 20px;
   font-weight: 500;
   transition: 0.5s;
   text-decoration: none;
 }
 .Nav .smoothscroll {
   color: rgb(255, 255, 255);
 }

 .Nav a:hover {
   transform: scale(1.1);
   color: yellow;
 }
 .Nav button {
   padding: 10px;
   outline: none;
   border: none;
   font-size: 15px;
   color: white;
   font-weight: 600;
   background-color: red;
   box-shadow: #737676;
   border-radius: 10px;
   cursor: pointer;
   transition: 70ms;
 }
 .Nav input{
   padding: 8px 40px;
 }
 .Nav input:active{
   box-shadow: none;
 }
 
 .Nav button:active {
   transform: translateY(3px);
   box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
 }
 .Nav .login-navbar{
    width: 157px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
    align-items: center;
    color: yellow;
    overflow: hidden;
 }
 .Nav .login-navbar img{
    padding-left: 0px;
    width: 44%;
    border-radius: 50%;
 }
 .Nav .login-navbar:hover{
   cursor: pointer;
}
 .after-responsive {
   display: none;
   grid-area: burger;
   margin: 0 15px 0 0;
   padding: 0;
   justify-self: end;
   font-size: 40px;
   border: none;
   background: none;
   outline: none;
   transition: 0.1s;
 }
 .after-responsive input{
   padding: 8px 5px;
 }
 .after-responsive button{
   background-color: transparent;
   border: none;
   font-size: 40px;
   margin-bottom: 5px;
}
 .Burger:active {
   transform: scale(1.2);
 }
 
 .NavAnimation-enter {
   opacity: 0;
   transform: scale(0.5);
 }
 .NavAnimation-enter-active {
   opacity: 1;
   transform: translateX(0);
   transition: opacity 350ms, transform 350ms;
 }
 .NavAnimation-exit {
   opacity: 1;
 }
 .NavAnimation-exit-active {
   opacity: 0;
   transform: scale(0.5);
   transition: opacity 350ms, transform 350ms;
 }
 .far .fa-bars{
    color: white;
 }

header .scrolldown a {
   position: absolute;
   bottom: 10px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #ffffff; }
header .smoothscroll a{
   font-size: 15;
   margin-right: 10px;
}
header .Header-banner .banner-text ul{
   display: flex;
   justify-content: center;
}
header .Header-banner .banner-text h3{
   width: 100%;
   text-align: center;
   color: yellow;
   font-size: 28px;
}
header .Header-banner .banner-text h1{
   width: 100%;
   text-align: center;
   margin-top: 7px;
   padding-bottom: 60px;
   font-size: 80px;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}
/* nav-wrap */
#nav-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font: 10px 'arial-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
   background-color: black;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #fe6928; }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */
#about .about-movie{
   width: 100%;
   display: flex;
   margin-bottom: 20px;
}
#about {
   background: #000524;
   overflow: hidden;
}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #0762f9; }

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: rgb(255, 255, 255);
}

#about .col-about-like .button {
   font: 16px/30px 'opensans-bold', sans-serif;
   background: #11ABB0;
   display: inline-block;
	text-decoration: none;
   letter-spacing: 0;
   color: #fff;
	padding: 12px 20px;

   border: none;
   cursor: pointer;
   height: auto;
   justify-content: center;
}
#about .button:hover {
   background: rgb(83, 159, 151);

}
#about .col-about-like .button  {
   margin-right: 10%;
   font-size: 20px;
   display: flex;
   align-items: center;
}
#about .col-about-like .button i{
  margin-right: 15px;
}
.colT-about-movie{
   width: 70%;
   height: auto;
   justify-content: center;
   display: flex;
}
.colI-about-movie{
   width: 30%;
   height: auto;
   justify-content: center;
   display: flex;
}
.image-about-movie{
   max-width: 100%;
   height: auto;
}
.col-about-details{
   width: 50%;
   height: auto;
   margin-top: 12%;
   margin-left: 55px;
}
.col-about-like{
   width: 50%;
   height: auto;
   margin-top: 18%;
   display: block;
   padding-left: 10px;
}


#bxhm{
   padding : 50px 30px 30px 30px;

}

#bxhm .slick-arrow{
   height: 100%;
   width: 30px;
 
}

#bxhm h1 {
   font: 24px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 0px;
   color: #95A3A3;
   margin-bottom: 20px;
   background-color: #000000;

}
#bxhm h2 {
   font: 31px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 5%;
   color: yellow;
   

}
#bxhm a, a:visited {
   text-decoration: none;
   outline: 0;
   color: #11ABB0;

   -webkit-transition: color .3s ease-in-out;
   -moz-transition: color .3s ease-in-out;
   -o-transition: color .3s ease-in-out;
   transition: color .3s ease-in-out;
}
#bxhm img {
   max-width: 100%;
   height: auto;
}
#bxhm .slick-list{
   padding-top: 20px;
}
.card-chart{
   margin-bottom: 40px;
}
.title-movie-chart{
   display: grid;
   place-items: center;
   overflow: hidden;
   padding: 0 38px;
}
.title-movie-chart p{
   text-align: center;
   color: rgb(255, 255, 255);
   font-size: 19px;
   padding: 11px 5px;
   overflow: hidden;
   margin: 0;
}
.title-movie-chart p:hover{
   text-decoration: none;
}
.card-movie-chart{
   justify-content: center;
   width: 100%;
   padding: 0 10%;
   cursor: pointer;
   position: relative;
}
.title-movie-chart h3{
   font-weight: 100;
   text-align: center;
   color: #46e1ff;
   overflow: hidden;
   font-size: 24px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.title-movie-chart h3::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 2px;
	background-color: rgb(255, 247, 0);
	left: 50%;
	bottom: -12px;
   justify-content: center;
   display: flex;
	transition: all 0.4s ease-in-out;
}
.card-chart:hover .title-movie-chart h3::after {
	width: 60%;
	left: 20%;
}



.card-movie-chart .chart-movie{
   position: absolute;
   top: 0;
   margin-top: 15px;
   padding: 3px 10px;
   color: white;
   border-radius: 0 5px 5px 0;
   background-color: red;
}
.card-movie-chart image{
   display: block;
   height: auto;
}
.slick-slide img{
   margin-bottom: 10px;
   min-height: 340px;
}
#portfolio a, a:visited {
   text-decoration: none;
   outline: 0;
   color: #11ABB0;

   -webkit-transition: color .3s ease-in-out;
   -moz-transition: color .3s ease-in-out;
   -o-transition: color .3s ease-in-out;
   transition: color .3s ease-in-out;
}

#portfolio {
   background: #000000;
   padding-bottom: 60px;
}
#portfolio h1 {
   font: 15px/24px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: yellow;
   font-size: 30px;
}
#portfolio img {
   max-width: 100%;
   height: auto;
}
#portfolio hr{
   color: gray;
   width: 100%;
   margin-bottom: 50px;
}
.typeMovie{
   width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0;
}
.type-move-choose{
   width: 20%;
   align-items: center;
   display: flex;
   justify-content: center;
   font-size: 25px;
   color: white;
   font-weight: 300;
   position: relative;
   display: inline-block;
   background-color: rgb(45, 42, 42);
   
}
.type-move-choose li{
   padding: 10px 0px;
   width: 100%;
   display: inline-block;
   text-align: center;
   font-weight: 300;
   font-size: 20px;
}
.type-move-choose li:hover{
   cursor: pointer;
   background-color:#58afd1;
}
.name-category{
   display: flex;
   justify-content: center;
   padding: 10px 0;
}
.name-category:hover{
  cursor: pointer;
}
.list-categories{
   display: none;
   position: absolute;
   background-color: rgb(0, 0, 0,0.8);
   width: 100%;
   left: 0;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   list-style-type: none;
   padding: 15px 5px;
   margin: 0;
   justify-content: center;
   transition: all .5s ease;
}
 .name-category:hover ~ .list-categories {display: block;}
 .list-categories:hover{
    display: block;
 }

.pagination-movie{
   display: flex;
   justify-content: center;
   margin: 10px 0px;
}
.pagination-movie p{
   align-items: center;
   display: flex;
   margin: 0 15px;
}
.pagination-movie .btn-pagination, .btn-pagination:visited{

   font: 16px/30px 'opensans-bold', sans-serif;
   background: #11ABB0;
   display: inline-block;
	text-decoration: none;
   letter-spacing: 0;
   color: #fff;
	padding: 12px 20px;

   border: none;
   cursor: pointer;
   height: auto;
}
 
.pagination-movie .btn-pagination:hover{
   cursor: pointer;
   background-color: rgb(77, 167, 158);
}

/* Portfolio Content */
#portfolio p{
   color: white;
}
.movie-for-today{
   width: 100%;
   height: auto;
}
.list-movie-for-today{
   width: 100%;
   height: auto;
   padding: 0 10%;
   margin-top: 5%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;

}
.col4-movie-now{
   width: 25%;
   height: auto;
   margin-bottom: 60px;
   max-width: 330px;
}
.card-movie-now{
   justify-content: center;
   width: 100%;
   padding: 0 10%;
   cursor: pointer;
   position: relative;
}
.card-movie-now img{
   border-radius: 10px;
   display: block;
   min-height: 393px;
   border: 2px solid;
}
.card-movie-now h2{
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   text-align: center;
   font: 21px 'opensans-semibold', sans-serif;
   letter-spacing: 1px;
   color: #ffffff;
   padding:  12px 10px;
   margin: 0;

}
.card-movie-now h3{
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   text-align: center;
   font: 23px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #46e1ff;
   padding:  10px 10px;
   margin: 0;
}


.card-movie-now h3 {
   color: #58afd1;
   transition: color 0.25s 0.0833333333s;
   position: relative;
}
.card-movie-now h3::before, .card-movie-now h3::after {
   border: 0 solid transparent;
   box-sizing: border-box;
   content: '';
   pointer-events: none;
   position: absolute;
   width: 0;
   height: 0;
   bottom: 0;
   right: 0;
}
.card-movie-now h3::before {
   border-bottom-width: 2px;
   border-left-width: 2px;
}
.card-movie-now h3::after {
   border-top-width: 2px;
   border-right-width: 2px;
}
.card-movie-now h3:hover {
   color: #FFFF00;
}
.card-movie-now h3:hover::before, .card-movie-now h3:hover::after {
   border-color: #FFFF00;
   transition: border-color 0s, width 0.25s, height 0.25s;
   width: 100%;
   height: 100%;
}
.card-movie-now h3:hover::before {
   transition-delay: 0s, 0s, 0.25s;
}
.card-movie-now h3:hover::after {
   transition-delay: 0s, 0.25s, 0s;
}
.btn {
   background: none;
   border: none;
   cursor: pointer;
   line-height: 1.5;
   font: 700 1.2rem 'Roboto Slab', sans-serif;
   padding: 1em 2em;
   letter-spacing: 0.05rem;
}
.card-movie-now h3:focus {
   outline: 1px dotted #55d7dc;
}

.card-movie-now p{
   margin: 0;
   font-size: 18px;
}
.card-movie-chart h3{
   font-size: 20px;
}
.card-movie-chart p,h3{
   margin: 0;
}
.card-movie-now .new-movie{
   position: absolute;
   top: 0;
   margin-top: 15px;
   padding: 3px 10px;
   color: white;
   border-radius: 0 5px 5px 0;
   background-color: red;

}
.rating-movie-now{
   width: 100%;
   justify-content: center;
   display: flex;
   align-items: center;
   margin-bottom: 5px;
}
.rating-movie-now p{
   color: white;
}

/* popup modal */
.popup-modal {
	max-width: 550px;
	background: rgb(0, 0, 0);
	position: relative;
	margin: 0 auto;
}
.popup-modal .description-box { padding: 12px 36px 18px 36px; }
.popup-modal .description-box h4 {
   font: 15px/24px 'opensans-bold', sans-serif;
	margin-bottom: 12px;
   color: #111;
}
.popup-modal .description-box p {
	font: 14px/24px 'opensans-regular', sans-serif;
   color: #A1A1A1;
   margin-bottom: 12px;
}
.popup-modal .description-box .categories {
   font: 11px/21px 'opensans-light', sans-serif;
   color: #A1A1A1;
   text-transform: uppercase;
   letter-spacing: 2px;
   display: block;
   text-align: left;
}
.popup-modal .description-box .categories i {
   margin-right: 8px;
}
.popup-modal .link-box {
   padding: 18px 36px;
   background: #111;
   text-align: left;
}
.popup-modal .link-box a {
   color: #fff;
	font: 11px/21px 'opensans-bold', sans-serif;
	text-transform: uppercase;
   letter-spacing: 3px;
   cursor: pointer;
}
.popup-modal a:hover {	color: #00CCCC; }
.popup-modal a.popup-modal-dismiss { margin-left: 24px; }


/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
   opacity: 0;
   -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
   opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
   opacity: 0;
}

/* ------------------------------------------------------------------ */
/* f. Call To Action Section
/* ------------------------------------------------------------------ */

#call-to-action {
   background: #000000;
   padding-top: 66px;
   padding-bottom: 48px;
}
#call-to-action h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
}
#call-to-action h1 span { display: none; }
#call-to-action .header-col h1:before {
   font-family: 'FontAwesome';
   content: "\f0ac";
	padding-right: 10px;
	font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #fff;
}
#call-to-action .action {
   margin-top: 12px;
}
#call-to-action h2 {
   font: 28px/36px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}
#call-to-action h2 a {
   color: inherit;
}
#call-to-action p {
   color: #636363;
   font-size: 17px;
}
/*#
call-to-action .button {
	color:#fff;
   background: #0D0D0D;
}
*/
#call-to-action .button:hover,
#call-to-action .button:active {
   background: #FFFFFF;
   color: #0D0D0D;
}
#call-to-action p span {
	font-family: 'opensans-semibold', sans-serif;
	color: #D8D8D8;
}

/* ------------------------------------------------------------------
/* g. Testimonials
/* ------------------------------------------------------------------ */

#testimonials {
   background: #1F1F1F url(../images/testimonials-bg.jpg) no-repeat center center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   background-attachment: fixed;

   position: relative;
   min-height: 200px;
   width: 100%;
   overflow: hidden;
}
#testimonials .text-container {
   padding-top: 96px;
   padding-bottom: 66px;
}
#testimonials h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
}
#testimonials h1 span { display: none; }
#testimonials .header-col { padding-top: 9px; }
#testimonials .header-col h1:before {
   font-family: 'FontAwesome';
   content: "\f10d";
	padding-right: 10px;
	font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #fff;
}

/*	Blockquotes */
#testimonials blockquote {
   margin: 0 0px 30px 0px;
   padding-left: 0;
   position: relative;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}
#testimonials blockquote:before { content: none; }
#testimonials blockquote p {
   font-family: 'librebaskerville-italic', serif;
   padding: 0;
   font-size: 24px;
   line-height: 48px;
   color: #fff
}
#testimonials blockquote cite {
   display: block;
   font-size: 12px;
   font-style: normal;
   line-height: 18px;
   color: #fff;
}
#testimonials blockquote cite:before { content: "\2014 \0020"; }
#testimonials blockquote cite a,
#testimonials blockquote cite a:visited { color: #8B9798; border: none }

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}
.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* Slider Styles */
.slides { zoom: 1; }
.slides > li {
   /*margin-right: 5px; */
   overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: left;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}
.flex-control-paging li a:hover {
    background: #CCC;
    background: rgba(255, 255, 255, .7);
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, .9);
    cursor: default;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
   background: #0a0a1b;
   color: #636363;
   padding: 60px 0px;
}
#contact .section-head { margin-bottom: 42px; }
#contact .contact-movie{
   width: 100%;
   height: auto;
   display: flex;
   text-align: center;
}
.col-contact-movie{
   width: 33%;
   height: auto;
   display: grid;
   justify-content: center;
}
.col-contact-movie ul{
   list-style-type: none;
   padding: 0;
}


#contact h4 {
   font: 16px/24px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}


/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }


/* .social .btn:first-child{
   margin-right: 30px;
} */
.social .btn{
   text-align: center;
   padding: 18px 20px;
   font-weight: 600;
   color: white;
   font-size: 21px;
}
.social .btn i{
   margin-right: 15px;
}
.project-btn{
   background-color: #1abc9c !important;
   text-decoration: none;
}
.github-btn{
   background-color: #34495e !important;
}

/*full page loading*/
.fp-container{
   position: fixed;
   width:  100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 800;
}
.fp-loader{
   width: 80px;
   height: 80px;
   top: 40%;
   left: 47%;
   z-index: 1000;
   position: absolute;
;
}
.text-right p{
   cursor: pointer;
}

/*Pagination*/
.pagination-movie p{
   color: white;
}
/*Comment*/
.form-comment{
   display: flex;
}
.input-comment{
   width: 100%;
   border-radius: 5px;
}
.button-comment{
   width: 20%;
   height: 30px;
}
/*Search*/
.react-autosuggest__container {
   position: relative;
   line-height: 19px;
 }
 
 .react-autosuggest__input {
   height: 35px;
   padding: 10px 20px;
   font-family: Helvetica, sans-serif;
   font-weight: 300;
   font-size: 16px;
   border: 1px solid #aaa;
   border-radius: 4px;
 }
 
 .react-autosuggest__input--focused {
   outline: none;
 }
 
 .react-autosuggest__input--open {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
 }
 
 .react-autosuggest__suggestions-container {
   display: none;
 }
 
 .react-autosuggest__suggestions-container--open {
   display: block;
   position: absolute;
   top: 38px;
   width: 100%;
   border: 1px solid #46e1ff;
   background-color: #000000;
   font-family: Helvetica, sans-serif;
   font-weight: 300;
   font-size: 16px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   z-index: 2;
 }
 
 .react-autosuggest__suggestions-list {
   margin: 0;
   padding: 0;
   list-style-type: none;
 }
 
 .react-autosuggest__suggestion {
   cursor: pointer;
   padding: 10px 10px;
 }
 
 .react-autosuggest__suggestion--highlighted {
   background-color: rgb(45, 44, 44);
 }
 
 .searchResult-text {
   line-height: 25px;
   overflow: hidden;
   text-align: left;
   white-space: nowrap;
   display: block;
   font-size: 18px;
 }
 
 .searchResult-image {
     width: 30%;
     height: 50px;
     float: left;
     margin-right: 8px;
     text-indent:-9999px;
 }
 
 .searchResult-name {
     color: #46e1ff;
     font-size: 18px;
 }
 
 .searchResult-date {
     color: white;
     font-size: 14px;
 }
 
 .searchResult-link {
   display: block;
   padding: 5px;
   text-decoration: none;
 }
 .search-card{
    text-decoration: none;
 }
 /*Information of a user*/
 .informatiton{
   display: block;
   height: 100%;
}
.information_user{
   justify-content: center;
   align-items: center;
   display: flex;
   height: 68vh;
}
.information_user .khong{
   justify-content: center;
   align-items: center;
   display: flex;
   height: 68vh;
   flex-direction: column;
}
.information_user .errorPage{
   width: 60%;
   height: auto;
}